@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

#canvas {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.circleimg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.cnv {
    margin-right: 30px;
}

.hidden {
    display: none;
}

.btninfo {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.bodylgbt { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

.bodypan { 
    height: 100%;
    width: 100%;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(124deg, #e31c23, #000000, #00843e);
    background-size: 1800% 1800%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}
  
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.header {
    text-align: center;
    /*padding-left: 100px;*/
    font-size: 72px;
    margin: 0 auto;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-bottom: 50px;
    font-weight: 800;
    margin-left: 8px;
    margin-right: 8px;
}

.free {
    display: inline-block;
}

.upload {
    text-align: center;
    margin: 0 auto;
}

.btnapply {
    display: inline-block;
    line-height: 2.2em;
    padding: 0 0.62em;
    border: 0px solid white;
    /*border-radius: 0.25em;
    /*background-image: linear-gradient( to bottom, #fff, #ccc );*/
    background-color: white;
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.1 rgba( 0, 0, 0, 0.3 );
    font-family: arial, sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.btnapply:hover {
    background-color: black;
    color: white;
 }

label{
    display: inline-block;
    line-height: 2.2em;
    padding: 0 0.62em;
    /*border: 1px solid #666;
    border-radius: 0.25em;
    /*background-image: linear-gradient( to bottom, #fff, #ccc );*/
    background-color: white;
    box-shadow: inset 0 0 0.1em #fff, 0.2em 0.2em 0.1 rgba( 0, 0, 0, 0.3 );
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    cursor: pointer;
    width: 100px;
    font-weight: 400;
    color: black;
 }

label:hover {
    /*border-color: #3c7fb1;*/
    /*background-image: linear-gradient( to bottom, #fff, #a9dbf6 );*/
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    color: white;
 }

.boldtxt {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
    text-shadow: 1px 1px black;
    font-size: 20px;
}

.rglrtext {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 18px;
    text-shadow: 1px 1px black;
}

.rglrtext2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.step2 {
    margin-top: 30px;
}

.cnvs1 {
    margin-top: 30px;
}

.xdfooter {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.xdlogo {
    height: 25px;
}

.gr-btn {
    border-radius: 50%;
    height: 56px;
    width: 56px;
    margin: 0 0 16px 0;
    display: inline;
    border: none;
}

.btn-glow {
    box-shadow: 0 0 9px 6px #cbcbcb;
}

#lgbt {
    margin: 0 16px 16px 0;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Gay_Pride_Flag.svg/512px-Gay_Pride_Flag.svg.png");
    background-size: cover;
}

#panaf {
    margin: 0 0 16px 0;
    background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Flag_of_the_UNIA.svg/1200px-Flag_of_the_UNIA.svg.png");
    background-size: cover;
}